# --- Build / Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDEs ---
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# --- Logs ---
*.log

# --- OS ---
.DS_Store
Thumbs.db

# --- Ambiente / segredos (IMPORTANTE) ---
application-local.properties
application-secret.properties
.env
*.env